#################
## DNN nl-NL.resx translations from a working site
#################

# Forget all files
*

# Except the following
!.github/*
!.gitattributes
!.gitignore
!readme.md
!.gitkeep
!*/

# This is empty create manifest for editing
!Install_empty_nl-NL.dnn

# And certainly not the translated resx files, but not the created artifacts
!*[a-zA-Z].nl-NL.resx

# Don't forget  the language pack manifest
!resources\DNNCE_nl-NL.dnn
